<!DOCTYPE html>
<html ng-app="gemStore">
<head>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <script type="application/javascript" src="bower_components/socket.io-client/socket.io.js"></script>
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="application/javascript" src="bower_components/sails.io.js/sails.io.js"></script>
    <script type="application/javascript" src="bower_components/angular-sails/dist/angular-sails.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/products.js"></script>
</head>

<body ng-controller="StoreController as store">
<!--  Store Header  -->
<header>
    <h1 class="text-center">Flatlander Crafted Gems</h1>
    <h2 class="text-center">– an Angular store –</h2>
</header>

<!--  Products Container  -->
<div class="list-group">
    <!--  Product Container  -->
    <div class="list-group-item" ng-repeat="product in store.products">
        <h3>{{product.name}} <em class="pull-right">{{product.price | currency}}</em></h3>

        <!-- Image Gallery  -->
        <product-gallery></product-gallery>

        <!-- Product Tabs  -->
        <product-tabs></product-tabs>
    </div>

</div>
</body>
</html>